<section id="container">
  <h1><a href="/">Noticias</a></h1>

  <div id="btns-info">
    <a href="about-us"><button type="button">Sobre nosotros</button></a>
    <a href="contact-us"><button type="button">Contactanos</button></a>
  </div>

  <div id="search-elements">
    <input type="text">
    <button>Buscar</button>
  </div>
  
  <div id="btns-acount">
    <button type="button" id="sign-in">Iniciar sesión</button>
    <button type="button" id="sign-up">Suscribirse</button>
  </div>
</section>

<router-outlet><router-outlet/>

